<div class="container">
    <span><b style="color:crimson">{{spell.name}}</b> {{spell.tradition}} {{spell.label}} {{spell.rank}}</span>
    <p><b>Requirment</b>{{spell.requirment}}</p>
    <p><b>Target</b>{{spell.target}}</p>
    <p><b>Area</b>{{spell.area}}</p>
    <p><b>Duration</b>{{spell.duration}}</p>
</div>
