<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p class="navbar-brand mx-2">Shadow of the Demon Lord Assistant</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url('showSpells')}}">Spells <span class="sr-only">(current)</span></a>
      </li>

      {% if is_granted('ROLE_ADMIN') %}

      <li class="nav-item">
        <a class="nav-link" href="{{url('createSpell')}}">Create Spell</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{url('getTags')}}">Create Tag</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url('searchSpell')}}">Search Spell</a>
      </li>


      {% endif %}
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    -->
    </ul>
    <p class="form-inline my-2 my-lg-0 mx-2">
      Bonjour {{app.user.username}} <br>
    </p>
    <a class="mx-2" href="{{url('app_logout')}}">  Logout  </a>
    <a class="mx-2" href="{{url('user_settings')}}">  Settings  </a>
  </div>
</nav>